@import 'variables.scss';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin font-mini-small($size) {
  font-size: $size;
}

@mixin avatar {
	width: 28%;
	border: 1px solid grey;
	border-radius: 50%;
}

@mixin full-end-ul-li {
	ul {
    margin-left: 0px;
    li {
      padding-left: 15px;
      list-style-position: inside;
      list-style-type: circle;
      ul {
        li {
          list-style-type: square;
        }
      }
    }
  }
}
