$font_general:  Helvetica Neue, "Roboto" , "Lato" , sans-serif;
$font_size_text_super_small1: 33%;
$font_size_text_super_small2: 38%;
$font_size_text_mini_small: 44%;
$font_size_text_small: 66%;
$font_size_text_normal: 77%;

$color_one: #44B3C2;
$color_two: #F1A94E;
$color_three: #E45641;
$color_four: #5D4C46;
$color_five: #7B8D8E;
$color_six: #F2EDD8;
